{% extends "webapp/base.html" %}

{% block header %}
    <div class="jumbotron">
        <h1 align="center">My first website</h1>
    </div>
{% endblock header %}

{% block content %}

<h2>
    {% if user.is_authenticated %}
    <li>
        This website is under commissioning. Let's start <a href="{% url 'webapp:topics' %}">making your own learning log</a></h2>
    </li>
    {% else %}
    <li>
        This website is under commissioning. <a href="{% url 'users:login' %}">sign in</a> or <a href="{% url 'users:register' %}">sign up</a> to make your own learning log.
    </li>
    {% endif %}
</h2>

{% endblock content %}